.card{
    
    width: calc(100% / 3 - 20px );
    height: calc(100% / 3  - 20px);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin: 0;
}


.divider{
    width: 100%;
    height: 2px;
    background-color: #212a30;
    margin: 10px 0;
}

.imagePreview{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    
}

.imagePreview img{
    width: 95%;
    height: auto;
    border-radius: 10px;
    object-fit: fill;
}

.h1{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.description{
    height: 150px;
    font-size: 1rem;    
    margin-bottom: 10px;
}

.location{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.details{
    display: none;
}

.card:hover> .details{
    
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    display: block;
    
}

.item{
    text-align: justify;
    
}



@media screen and (max-width: 768px){
    .card{
        width: 85%;
        height: 100%;
        margin: 0;
    
    }
}