.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 20px;
    padding-bottom: 50px;
    
    
}

.h1{
    font-size: 2rem;
    font-weight: bold;
    
    color: white;

}

.label{
    font-size: 1rem;
    font-weight: bold;
    
    color: white;
    display: flex
}

.filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 20px;
    padding: 20px 10px;
    margin: 10px 10px;
    
    
}


.filters select{
    
    width: 150px;
    gap: 10px;
    background-color: white;
    border: 1px solid #212a30;
    border-radius: 5px;
    /* add box shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5ms all ease-in-out;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }


}

